---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
$theme-primary: #F05F40;
$theme-dark: #222;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;
#surveyHolder > div {
	margin:auto;
}

.header-content {
	background: rgba(0,0,0,0.6);
	padding: 200px 1px !important;
}

#mainNav {background-color: #fff;}

header {
	background-position-y: 6px;
}

.section-heading {padding-top: 1em;}
.navbar-default .nav > li > a, .navbar-default .nav > li > a:focus {color:black;}
.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus:hover {color:#6700B0;}

.dayCol {
	padding: 0px 40px;
	border-right: 1px solid grey;
}
.dayCol p {
	font-weight: 1000;
	font-size: 1.5em;
}
.dailyCol {
	padding:20px;
}
.dailyCol p {
	margin: unset;
}
.daySection {
	font-weight:700;
}
#agenda table {
	margin-left: auto;
	margin-right: auto;
	border-color: transparent;
}
.btn {
	margin: 3px 10px;
}
#toBringList {
	max-width: 300px;
	margin: auto;
	text-align:left;
	font-size: 16px;
}
#disclaimer {
	max-width: 450px;
	margin: auto;
}
#agenda h4 {
	max-width: 600px;
	margin:auto;
}
#agenda tr {
	border-bottom: 1px solid grey;
}

