<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading" style="35px">The Big Day</h2>
                <hr class="light">
                <p style="font-size: 25px">
		On Sept 20th we're all getting together at De La Cour Ranch at the base of the High Sierras to get us married and celebrate with you!</p>
            <p id="disclamer">
		* Pending the progress of this pandemic. We'll be monitoring the status of Inyo County and will cancel if it is prudent to do so.

	    </p>
	    </div>
        </div>
    </div>
</section>
