<section id="agenda">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Let us know</h2>
                <hr class="primary">
		<h4>
			<p>Agenda</p>
            </div>
        </div>
    </div>
    <div class="container col-lg">
<div>
    <div>
        <table border="1">
            <tbody>
                <tr>
                    <td class="dayCol">
                        <div>
                            <div>
                                <p lang="EN-US">
                                    Friday
                                </p>
                            </div>
                        </div>
                    </td>
                    <td class="dailyCol">
                        <div>
                            <div>
                                <p class="daySection" lang="EN-US">
                                    Afternoon
                                </p>
                            </div>
                            <div>
                                <ul>
                                    <li>
                                        <p lang="EN-US">
                                            Ben &amp; Kelly head to the
                                            courthouse in Independence, CA to
                                            pick of the certificate
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <p class="daySection" lang="EN-US">
                                    Evening
                                </p>
                            </div>
                            <div>
                                <ul>
                                    <li>
                                        <p lang="EN-US">
                                            Dinner at the Ranch with those who
                                            have already arrived
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="dayCol">
                        <div>
                            <div>
                                <p lang="EN-US">
                                    Saturday
                                </p>
                            </div>
                        </div>
                    </td>
                    <td class="dailyCol">
                        <div>
                            <div>
                                <p  class="daySection" lang="EN-US">
                                    Morning:
                                </p>
                            </div>
                            <div>
                                <ul>
                                    <li>
                                        <p lang="EN-US">
                                            Breakfast at the Ranch
                                        </p>
                                    </li>
                                    <li>
                                        <p lang="EN-US">
                                            Hangout, games, wait for remainder
                                            of party to arrive, etc
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <p class="daySection" lang="EN-US">
                                    Afternoon
                                </p>
                            </div>
                            <div>
                                <ul>
                                    <li>
                                        <p lang="EN-US">
                                            Possible Hike, decorate cupcakes,
                                            corn hole, eat, drink
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <p class="daySection" lang="EN-US">
                                    Evening
                                </p>
                            </div>
                            <div>
                                <ul>
                                    <li>
                                        <p lang="EN-US">
                                            Communal dinner and Desert
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="dayCol">
                        <div>
                            <div>
                                <p lang="EN-US">
                                    Sunday
                                </p>
                            </div>
                        </div>
                    </td>
                    <td class="dailyCol">
                        <div>
                            <div>
                                <p class="daySection" lang="EN-US">
                                    Morning
                                </p>
                            </div>
                            <div>
                                <ul>
                                    <li>
                                        <p lang="EN-US">
                                            7:00 AM – Breakfast
                                        </p>
                                    </li>
                                    <li>
                                        <p lang="EN-US">
                                            7:30 AM – Kelly et al head to hotel
                                            to get ready
                                        </p>
                                    </li>
                                    <li>
                                        <p lang="EN-US">
                                            8:30 AM – Ben and Kelly take
                                            pictures in the Alabama Hills
                                        </p>
                                    </li>
                                    <li>
                                        <p lang="EN-US">
                                            9:30 AM – Everyone else heads up
                                            toward the meadow (½ hour drive)
                                        </p>
                                    </li>
                                    <li>
                                        <p lang="EN-US">
                                            10:30 AM – Ben and Kelly arrive at
                                            the meadow. More pictures
                                        </p>
                                    </li>
                                    <li>
                                        <p lang="EN-US">
                                            11:00 AM – Ceremony (Robert
                                            officiates)
                                        </p>
                                    </li>
                                    <li>
                                        <p lang="EN-US">
                                            11:00 AM to 1:00 PM – Drinks,
                                            snacks, hangout
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <p  class="daySection" lang="EN-US">
                                    Afternoon
                                </p>
                            </div>
                            <div>
                                <ul>
                                    <li>
                                        <p lang="EN-US">
                                            1:00 PM – Head back down to De La
                                            Cour for big lunch (food truck),
                                            drinks, music
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <p class="daySection" lang="EN-US">
                                    Evening
                                </p>
                            </div>
                            <div>
                                <ul>
                                    <li>
                                        <p lang="EN-US">
                                            Light dinner, more of the same
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="dayCol">
                        <div>
                            <div>
                                <p lang="EN-US">
                                    Monday
                                </p>
                            </div>
                        </div>
                    </td>
                    <td class="dailyCol">
                        <div>
                            <div>
                                <p  class="daySection" lang="EN-US">
                                    Morning
                                </p>
                            </div>
                            <div>
                                <ul>
                                    <li>
                                        <p lang="EN-US">
                                            Breakfast at the Ranch
                                        </p>
                                    </li>
                                    <li>
                                        <p lang="EN-US">
                                            Pack up, clean up, get out by 10 AM
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

    </div>
</section>
