<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The Big Day</h2>
                <hr class="light">
                <p class="text-faded">
		On Sept 20th we're all getting together at De La Cour Ranch at the base of the High Sierras to get get married and celebrate with you!</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
