<section class="bg-primary" id="covid">
<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Wedding Details</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container" style="max-width:800px; text-align:center">
        <div>
		<p>
There is a non-zero risk with any gathering of this type and size right now, as we are bringing together groups of people from different counties and states who have all been responsible for our own risk reduction behaviors. In order to reduce the risk of there being anyone COVID-19 positive at the wedding, we ask that everyone isolate/physically distance from those you are not 100% sure are virus-free, for at least 10 days prior to the weekend, and please don’t come if you are feeling sick in any way. 

If you are unable to isolate due to work or childcare needs, we ask that you do your best to get a COVID-19 PCR (nasal swab) test if available. Timeframes of results will vary given your location, but taking the test as close as possible to the wedding is ideal.

We understand that people may have different perceptions of the risk of contagion to themselves and others during this time. By having everyone follow the same isolation timeframe, we can help us all feel safe, especially for the most vulnerable who will be in attendance. 

We chose the ranch in large part because there are many tables and lovely spots for gathering and spending time safely outdoors. Weather permitting, we will be able to spend the entire weekend outdoors. We will provide plenty of soap and sanitizer. But let’s face it: even outdoors, there will be kids running around and we will not be able to, or frankly want to, have every separate group of people physically distance themselves. 

For those that will ONLY feel comfortable staying physically distant the entire weekend, we fully support that decision and will work with you to arrange cooking schedules, etc. to ensure your space. We can also work out a system so we can easily identify who is and is not comfortable being in close contact with others.

Please bring your masks.

</p>
	</div>
   </div>
</section>
