<section id="general">
    <div class="container bg-primary">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Wedding Details</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container" style="max-width:800px; text-align:center">
	    <div>
		    <h3>Location</h3>
		    <a href="https://delacour-ranch.com"  target="_blank">https://delacour-ranch.com</a>
		    <br/>
		    <a href="https://goo.gl/maps/Y8NxLzpskbw9v4gu7" target="_blank">Google Maps</a>
		    <p>We are renting a portion of the ranch on the west side of the road, across the road from the main ranch. The owners are incredibly welcoming, and encourage everyone to walk through the main ranch grounds, feeding carrots to the horses, walking along the creek trail, and smelling the lavender.
		    
		    It is conveniently located about 15 minutes from Lone Pine, so we hope that everyone staying in town will spend as much time with us at the ranch as possible.
		    </p>
		    <h3>Accomodations</h3>
		    <p>The ranch is our main hangout site for the weekend, and is where most of the party will be staying. Ben and Kelly are sleeping onsite. There are three small cabins, reserved for the families with the newest/tiniest humans and Kelly’s folks. There is plenty of room for camping, with flat shady spots for setting up tents.
			    
			    There is a bathhouse with two toilets and a shower, with sinks and running water, as well as a bathroom and small kitchen in Kelly’s folks’ cabin that we’re sure they’ll be happy to share. There is also an outdoor sink with running water.
			    
			    Everyone staying onsite will need to bring their own towels. For those staying in the three bungalows (Wil and Julie; Katherine and Sean; Daylin and Antonio), please bring your own bedding (the ranch is not providing these during the pandemic). Also know that the owners are extensively cleaning all spaces, indoors and out, between parties. We will be providing LOTS of cleaning and sanitizing supplies as well.</p>
		    <h3>Food</h3>
		    <p>For most of the weekend we'll all be helping out to cook meals, which are TBD, FYI. There's a large outdoor kitchen that is screened in with plenty of room for coolers and camp stoves, and comes ready with a two-burner stove with a full tank of propane. There is also an outdoor gas grill.

			    The survey will help us determine head counts for meals; from there we will be making catering decisions and tapping folks to help with providing necessary gear and helping with cooking.</p>
			<h3>What Your Party  Needs To Bring</h3>
			<p>
			<ul>
				<li>Towels (if you're staying onsite)</li>
				<li>Coolers/Ice-Chests</li>
				<li>Lanters and non-electric lights</li>
				<li>Chairs for yourselves</li>
				<li>Camp Tables</li>
				<li>Camp Stoves</li>
				<li>Games</li>
			</ul>
			</p>
		    <h3>Dogs</h3>
		    <p>There will be three dogs milling about and being awesome; you’re welcome.</p>
		    <h3>Ceremony</h3>
		    <p>We are hoping to have the ceremony about 13 miles up the (graded dirt) road from the ranch, in a lovely meadow location with views of the high Sierra and the East side below. Ben and Kelly will take some photos in the Alabama hills first thing in the morning, giving everyone else time to get ready, and meet you all up there. The ceremony will be short enough to plan on standing around, but we will have enough chairs floating around all weekend that can be hauled up for comfort.</p>
		    <h3>Weather</h3>
		    <p>Keep an eye on the weather as it gets closer of course, but it’ll be mid-late September in the Sierra so plan on cool mornings and nights, with potentially warm daytime temps. Layers will certainly be advised for the morning ceremony.</p>
	    </div>

    </div>
</section>
