<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Sept. 20th, 2020</h1>
            <hr>
            <p>We're... going to wed, settling down, yokin' up, becoming espoused, tieing the knot, walking down the aisle, taking the plunge... getting married </p>
            <a href="#details" class="btn btn-primary btn-xl page-scroll">Get the details</a>
            <a href="#survey" class="btn btn-primary btn-xl page-scroll">Take the survey</a>
        </div>
    </div>
</header>
